/*  wrapper upcoming start */
.wrapper__upcoming__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 2px #56bdc4;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

/*  wrapper upcoming end */



/*  wrapper finished start */
.wrapper__finished__item {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #56bdc4;
  border-radius: 8px;
  box-shadow: 1px 2px #56bdc4;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-decoration: line-through;
  text-transform: capitalize;
}

/*  wrapper finished end */