#root {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0px auto;
  background: #7ed3d9;
}

.wrapper {
  padding: 16px;
  position: relative;
}

.wrapper__title {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
}

/*  wrapper upcoming start */

.wrapper__upcoming {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.wrapper__upcoming__title {
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

/*  wrapper upcoming end */

/*  wrapper upcoming start */
.wrapper__upcoming__items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 2px #56bdc4;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper__upcoming__items li img {
  cursor: pointer;
}

/*  wrapper upcoming end */


/*  wrapper finished start */
.wrapper__finished__items {
  list-style: none;
}

.wrapper__finished__items li {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #56bdc4;
  border-radius: 8px;
  box-shadow: 1px 2px #56bdc4;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: line-through;
  text-transform: capitalize;
}

/*  wrapper finished end */

/*  wrapper finished start */
.wrapper__finished {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper__finished__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__finished__top__title {
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.wrapper__finished__top__clear {
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

/*  wrapper finished end */